:root {
  /* Your overall theme and font preferences */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color-scheme: light dark;
  color: #213547; /* Light mode text color */
  background-color: #f9f9f9; /* Light mode background */
  /* Use variables for easy color scheme switch */
  --text-light: #213547;
  --text-dark: #fff;
  --bg-light: #f9f9f9;
  --bg-dark: #242424;
}

/* Global styles */
body {
  margin: 0;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-light); /* Use variable for theme switch */
}

a {
  color: var(--text-light); /* Use variable for theme switch */
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--text-dark); /* Use variable for theme switch */
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-dark); /* Use variable for theme switch */
  color: var(--text-light); /* Use variable for theme switch */
}

h1 {
  font-size: 2rem;
  margin: 0;
}

/* Search bar styles */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--bg-light); /* Use variable for theme switch */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.search-field {
  flex: 1;
  width: 100px;
  padding: 1%;
}

.search-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.875rem;
  color: var(--text-dark); /* Use variable for theme switch */
}

.search-field input,
.search-field select {
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--text-dark); /* Use variable for theme switch */
}

.search-field select {
  background-image: url("data:image/svg+xml;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAAl1bKIAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 4px;
  background-color: var(--text-light); /* Use variable for theme switch */
  color: var(--text-dark); /* Use variable for theme switch */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--text-dark); /* Use variable for theme switch */
  color: var(--text-light); /* Use variable for theme switch */
}

/* Card styles */

ul.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    position: relative; /* Needed for hover effects */
  
}

ul.card-list li {
  /* Adjust margin and padding for spacing */
  border-radius: 8px; /* Add rounded corners */
  /* Adjust margin and padding as needed for spacing */
  margin: 1rem;
  padding: 1rem;
  background-color: var(--bg-light); /* Use variable for theme switch */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  width: 25vw;
  /* ... other styles you have for the card-item div */
}

ul.card-list img {
  width: 25vw;
}


ul.card-list li::hover {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}



